h2 {
padding:20px;
}


.home {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 30px;
    text-decoration: none;
    background: #9c9fa3;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a {
color: #ffffff;
}

a:hover {
color: #ffffff;
text-decoration: none;
}